{% extends 'common.html' %}

{% block head %}
<title>Expenses</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
<table id="expenseTable" class="table">
    <thead>
    <tr>
        <th>Created Time</th>
        <th>Expense Title</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for expense in expense_items %}
        <tr>
            <td>{{ expense.created_time }}</td>
            <td>{{ expense.expense_title }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.description }}</td>
            <td>{{ expense.category }}</td>
            <td><form method="post" action="{% url 'delete-expense' %}">
                <input type="hidden" name="expenseId" value="{{ expense.id }}">
                <button class="btn btn-primary">Delete</button>
                {% csrf_token %}
            </form></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
