{% extends 'common.html' %}

{% block head %}
<title>To-Do List</title>
    <style>
        .collapsible-content {
            display: none;
            overflow: hidden;
        }

        th, td {
            padding: 5px;
        }
    </style>
    <script>
        function collapse(collapsible) {
            let contents = collapsible.getElementsByClassName("collapsible-content");
            let button = document.getElementById(collapsible.id + "_collapse");
            if (button.textContent === "Create a to-do list!!") {
                button.textContent = "Collapse";
            } else {
                button.textContent = "Create a to-do list!!";
            }
            for (let i = 0; i < contents.length; i++) {
                if (contents[i].style.display === "block") {
                    contents[i].style.display = "none";
                } else {
                    contents[i].style.display = "block";
                }
            }
        }

        let csrfToken = '{% csrf_token %}';
        let editLink = '/to-do/edit/';

        function edit(row, id) {
            let name = row.children[0].innerText;
            let href = row.children[0].children[0].getAttribute("href");

            row.children[0].innerHTML = '<input type="text">';
            row.children[0].children[0].setAttribute("value", name);

            let description = row.children[2].innerText;

            row.children[2].innerHTML = '<input type="text">';
            row.children[2].children[0].setAttribute("value", description);

            let button = row.getElementsByTagName("button")[0];
            button.innerText = "Save";
            button.onclick = function () {
                let newName = row.children[0].children[0].value;
                let newDescription = row.children[2].children[0].value;

                if (newName === "") {
                    window.alert("Name cannot be empty!");
                    window.location.reload();
                }

                let xhr = new XMLHttpRequest();
                let form = new FormData();

                form.append("name", newName);
                form.append("description", newDescription);

                xhr.open("POST", editLink + id + "/", false);
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
                xhr.send(form)

                row.children[0].innerHTML = `<a href=${href}>${row.children[0].children[0].value}</a>`;
                row.children[2].innerHTML = row.children[2].children[0].value;

                button.innerText = "Edit";
                button.onclick = function () {
                    edit(row, id);
                }
            }
        }

    </script>
{% endblock %}

{% block body %}
    <div class="collapsible" id="create_to_do_list">
    <button class="btn btn-primary" id="create_to_do_list_collapse" onclick="collapse(this.parentElement)">Create a to-do list!!</button>
    <div class="collapsible-content">
        <form method="POST" action="create/">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="create_to_do_list_name">Name</label></td>
                    <td><input type="text" id="create_to_do_list_name" name="name" required></td>
                </tr>
                <tr>
                    <td><label for="create_to_do_list_description">Description</label></td>
                    <td><input type="text" id="create_to_do_list_description" name="description"></td>
                </tr>
            </table>
            <input class="btn btn-primary" type="submit">
        </form>
    </div>
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for row in rows %}
        <tr>
            <td><a href="{{ row.uri }}">{{ row.name }}</a></td>
            <td>{{ row.date }}</td>
            <td>{{ row.description }}</td>
            <td style="display: flex;">
                <button class="btn btn-primary" onclick="edit(this.parentElement.parentElement, {{ row.id }})" style="margin-right: 2px">Edit</button>
                <form action="{{ row.drop_uri }}" method="POST" id="form_drop_{{ row.id }}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Drop</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
