{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Navigation Bar Test</title>
    {% endblock %}
    <!-- Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- DM Sans Font -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <!-- custom css -->
    <style>
        /* Custom Styles */
        :root {
            --text-color: {{ userPreferences.text_color|default:"rgb(186, 75, 47)" }};
            --navbar-color: {{ userPreferences.navbar_color|default:"rgb(255, 219, 213)" }};
        }
        body, h1, p, .navbar-brand, .nav-link {
            font-family: 'DM Sans', sans-serif;
            color: var(--text-color);
        }
        .navbar {
            background-color: var(--navbar-color);
        }
    </style>
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'homepage' %}">LifeSync</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'login_route' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'to-do' %}">To-Do</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'calender' %}">Calendar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'expense' %}">Expense Tracking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'reminders' %}">Payment Reminders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'notes' %}">Notes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</nav>

{% block body %}
    This is a navigation bar test.
{% endblock %}

<!-- Footer -->
<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <p>&copy; 2023 LifeSync. All rights reserved.</p>
        <p>Team Members: Mahima Borah, Sambhav Jain, Zhichen Li</p>
    </div>
</footer>

</body>
