{% extends 'common.html' %}

{% block head %}
    <title>Notes</title>
    <style>
        .collapsible-content {
            display: none;
            overflow: hidden;
        }
    </style>
    <script>
        function collapse(collapsible) {
            let contents = collapsible.getElementsByClassName("collapsible-content");
            let button = document.getElementById(collapsible.id + "_collapse");
            if (button.textContent === "Add a note category!!") {
                button.textContent = "Collapse";
            } else {
                button.textContent = "Add a note category!!";
            }
            for (let i = 0; i < contents.length; i++) {
                if (contents[i].style.display === "block") {
                    contents[i].style.display = "none";
                } else {
                    contents[i].style.display = "block";
                }
            }
        }
    </script>
{% endblock %}

{% block body %}
    <div class="collapsible" id="add_category">
    <button class="btn btn-primary" id="add_category_collapse" onclick="collapse(this.parentElement)">Add a note category!!</button>
    <div class="collapsible-content">
        <form method="POST" action="add/">
            {% csrf_token %}
            <table>
                <tr>
                    <td><label for="add_category_name">Name</label></td>
                    <td><input type="text" id="add_category_name" name="name" required></td>
                </tr>
                <tr>
                    <td><label for="add_category_description">Description</label></td>
                    <td><input type="text" id="add_category_description" name="description"></td>
                </tr>
            </table>
            <input class="btn btn-primary" type="submit">
        </form>
    </div>
</div>
    <table>
        <tr>
            <th>Name</th>
            <th>Note count</th>
            <th>Description</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td><a href="/notes/category/{{ row.id }}">{{ row.name }}</a></td>
            <td>{{ row.length }}</td>
            <td>{{ row.description }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}